body {
	background-image: url(../img/old_map.png);
}

.logo {
	font-family: 'Amatic SC', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}

button {
	font-family: 'Nunito Sans', sans-serif;
	border: 2px solid red;
    padding: 7px;
    border-radius: 20px;
    background-color: white;
}