.navbar-brand {
	font-family: 'Amatic SC', cursive;
}

.jumbotron{
    position: relative;
    padding:70 !important;
    margin-top:60px !important;
    background-image: url(../img/darkness.png);
    text-align:center;
    margin-bottom:0 !important;
    color: #ffffff;
    font-size: 300%;
    font-family: 'Codystar', cursive;
}

body {
	background-image: url(../img/sakura.png);
}

.table {
    border-radius: 2px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

