{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center logo my-4">
  <a href="{% url 'home' %}">Choose Your Undertone</a>
</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Undertone</th>
      <th>Image</th>
      <th>By Veins</th>
      <th>By Jewellery</th>
    </tr>
  </thead>

  <tbody>
    {% for utype in utypes %}
    <tr>
      <td class="align-middle">
        <div class="radio">
          <label><input type="radio" name="optradio"></label>
        </div>
      </td>
      <td class="align-middle">{{ utype.category }}</td>
      <td class="align-middle"><img src="{% static utype.image_u %}"></td>
      <td class="align-middle">{{ utype.vein_color }}</td>
      <td class="align-middle">{{ utype.jewellery }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'uhome' %}"><button class="btn btn-danger" style="margin-left:37%;margin-right:0%;margin-top:5%;margin-bottom:2%">Know The Right Shades For You</button></a>

{% endblock %}